body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
}

header {
    background: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
}

input {
    padding: 8px;
    width: 60%;
    margin-top: 10px;
}

.semester {
    padding: 20px;
}

.subjects {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card a {
    text-decoration: none;
    color: black;
}
